extends templates/template.pug
block vars
  - let contactVisible = true;
block main
  section.hero.section
    h1.hero__title.title-1.bg-square-1 Un increible proyecto en medio de la selva
    img.hero__img(src=img('interior'), alt="interior apartamento")
    img.hero__flor(src=img('flordevida','png'), alt="interior apartamento")
  section.section-description.description
    h2.description__title.title-2.t-uppercase Descripción del Proyecto
    p.description__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ab animi asperiores nam maxime consectetur repellat, sapiente veritatis est eius. Neque, harum incidunt laboriosam voluptates facere ratione quae repellat consectetur!Et earum in aspernatur sapiente consequuntur, fuga optio quibusdam fugiat sed ad consectetur sit incidunt obcaecati nulla dolorum? Sapiente repellendus qui omnis numquam deleniti doloribus id delectus at quod fugiat.Rem eius, corporis assumenda alias cupiditate molestias incidunt ducimus pariatur? Odit dolorem quas ut laboriosam repellat! Harum debitis natus temporibus aut quos. Commodi assumenda nesciunt eius dignissimos mollitia dicta iure.
  //- section.section-gallery.gallery#galleryTulum()
  section.section-gallery.gallery#galleryTulum(data-images=`${imgA('Interior_4K')},${imgA('Cine-AA_4K(1)')},${imgA('Aereo-2-Sky-Tulum_4K')}`)
    h2.gallery__title.section__title.title-2.bg-square-center.t-uppercase Sky Tulum
    figure.gallery__item: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('Sky-Tulum-Alberca_4K2'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('Sky-Tulum_4K_2'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('SKY-K-206_4K'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('SKY_Detalle-Alberca_4K'), alt="sky tulum techo")
    button.gallery__btn.btn#galleryBtn Ver Galería
  


