extends templates/template.pug
block main
  section.hero.section
    h1.hero__title.title-1 Un increible proyecto en medio de la selva
    img.hero__img(src=img('interior'), alt="interior apartamento")
  section.section-description.description
    h2.description__title.title-2.t-uppercase Descripción del Proyecto
    p.description__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ab animi asperiores nam maxime consectetur repellat, sapiente veritatis est eius. Neque, harum incidunt laboriosam voluptates facere ratione quae repellat consectetur!Et earum in aspernatur sapiente consequuntur, fuga optio quibusdam fugiat sed ad consectetur sit incidunt obcaecati nulla dolorum? Sapiente repellendus qui omnis numquam deleniti doloribus id delectus at quod fugiat.Rem eius, corporis assumenda alias cupiditate molestias incidunt ducimus pariatur? Odit dolorem quas ut laboriosam repellat! Harum debitis natus temporibus aut quos. Commodi assumenda nesciunt eius dignissimos mollitia dicta iure.
  section.section-gallery.gallery
    h2.gallery__title.section__title.title-2.bg-square-center.t-uppercase Sky Tulum
    figure.gallery__item: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__item: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    a.gallery__btn.btn(href="#") Ver Galería
  section.section.section-contact
    article.contact#contact
      .contact__container
        h3.contact__title.t-uppercase Solicitar Información
        form.contact__form(action="")
          input.contact__input(type="text", name="name", placeholder="Nombre Completo")
          input.contact__input(type="email", name="email", placeholder="Correo Electrónico")
          button.btn-white(type="submit") Enviar
    img.section-contact__img(src=img('piñanona','png'), alt="alt")


