extends templates/template.pug
block main
  section.section-gallery.gallery#proyecto
    h2.gallery__title.section__title.title-2.bg-square-center.t-uppercase Sky Tulum
    figure.gallery__fig: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__fig: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__fig: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__fig: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")
    figure.gallery__fig: img.gallery__img(src=img('sky-roof'), alt="sky tulum techo")